source https://api.nuget.org/v3/index.json

nuget Dapper
nuget FSharp.Core
nuget Microsoft.Data.Sqlite
nuget MiniProfiler.AspNetCore
nuget MiniProfiler.AspNetCore.Mvc
nuget Saturn
nuget Simple.Migrations

clitool dotnet-saturn

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE